{% extends 'AppProyecto/base.html' %}
{% load static %}

{%block contenido2 %} 
  <h1 class="mb-1">EDITAR PELICULAS</h1>

{% endblock %}

{% block contenido %}
 {% if miFormulario.errors %}
 <p style="color: red;"> ERROR :(</p>
 {% endif %} 
 <form action="" method="POST"> {% csrf_token %}
   <!-- <p> Título: <input type="text", name="tituloPeli"> </p>
   <p> Género: <input type="text", name="generoPeli"></p>
   <p> Año de estreno: <input type="number", name="anioEstrenoPeli"></p>
    -->
   <table>
     {{ miFormulario.as_table }}
   </table>
   <input type="submit", value="EDITAR :)">
  </form>
  
 {% endblock %}